.bingo-blitz {
  position: relative;
  overflow: hidden;
}

.bingo-blitz::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/bingo-blitz.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  filter: blur(1px);
  z-index: 0;
}

.bingo-blitz h2,
.bingo-blitz p {
  position: relative;
  z-index: 1;
  color: #0f172a;
}

.bingo-blitz p {
  color: #475569;
}

