backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

site_url: "https://inspiring-jelly-af4498.netlify.app"
display_url: "https://inspiring-jelly-af4498.netlify.app"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home Page"
        name: "home"
        file: "index.html"
        fields:
          - label: "Title"
            name: "title"
            widget: "string"

          - label: "Body"
            name: "body"
            widget: "markdown"

  - name: "bingoblitz"
    label: "Bingo Blitz"
    folder: "bingoblitz"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Content"
        name: "body"
        widget: "markdown"

  - name: "dicedreams"
    label: "Dice Dreams"
    folder: "dicedreams"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Content"
        name: "body"
        widget: "markdown"
